# The International Debt Analysis

In this notebook, we are going to analyze <a href = "https://www.worldbank.org/en/programs/debt-statistics/ids">international debt data</a> collected by The World Bank. 

The dataset contains information about trends in external debt in low and middle-income countries across several categories. 

We are going to find the answers to questions like:

- What is the total amount of external debt stock that is owed by the countries listed in the dataset?
- Which country owns the maximum amount of external debt stock and what does that amount look like?
- Which country owns the maximum amount of long-term external debt ?
- What is the share of the short-term debt ?
- Which countries take most IMF Loans?

We'll look at these selected indicators:

- Total External Debt Stock : DT.DOD.DECT.CD
- Long-term External Debt : DT.DOD.DLXF.CD
- Short-term External Debt : DT.DOD.DSTC.CD
- Short-term to external debt stocks (%)Short-term to external debt stocks (%)
- Use of IMF Credit : DT.DOD.DIMF.CD
- Outstanding Debts : DT.DOD.PVLX.CD
- External debt stocks to exports (%): DT.DOD.DECT.EX.ZS
- External debt stocks to GNI (%) : DT.DOD.DECT.GN.ZS
- Reserves to external debt stocks (%) : FI.RES.TOTL.DT.ZS

In [3]:
import keyring
keyring.get_keyring()
password = keyring.get_password("pgAdmin", "admin")

In [4]:
%%capture
%load_ext sql
%sql postgresql://aysegul:password@localhost:5432/aysegul

In [5]:
%%sql
SELECT 
    * FROM int_debt
LIMIT 10;

 * postgresql://aysegul:***@localhost:5432/aysegul
10 rows affected.

[(0, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average grace period on new external debt commitments (years)', 'DT.GPA.DPPG', 0.0),
 (1, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average grace period on new external debt commitments, official (years)', 'DT.GPA.OFFT', 0.0),
 (2, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average grace period on new external debt commitments, private (years)', 'DT.GPA.PRVT', 0.0),
 (3, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average grant element on new external debt commitments (%)', 'DT.GRE.DPPG', 0.0),
 (4, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average grant element on new external debt commitments, official (%)', 'DT.GRE.OFFT', 0.0),
 (5, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average grant element on new external debt commitments, private (%)', 'DT.GRE.PRVT', 0.0),
 (6, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average interest on new external debt commitments (%)', 'DT.INR.DPPG', 0.0),
 (7, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average interest on new external debt commitments, official (%)', 'DT.INR.OFFT', 0.0),
 (8, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average interest on new external debt commitments, private (%)', 'DT.INR.PRVT', 0.0),
 (9, 'Afghanistan', 'AFG', 'World', 'WLD', 'Average maturity on new external debt commitments (years)', 'DT.MAT.DPPG', 0.0)]

#### Finding the number of distinct countries
How many countries are present in the dataset?

In [6]:
%%sql
SELECT
    COUNT(DISTINCT country_name) as total_distinct_countries
FROM int_debt;

 * postgresql://aysegul:***@localhost:5432/aysegul
1 rows affected.

[(122,)]

#### Finding out the distinct debt indicators
- How many debt indicators are present in the dataset ?
- Which debt indicators are more common ?

In [7]:
%%sql
SELECT
    COUNT(DISTINCT series_code) as debt_indicators
FROM int_debt;

 * postgresql://aysegul:***@localhost:5432/aysegul
1 rows affected.

[(569,)]

In [21]:
%%sql
SELECT 
    series_code AS indicator_code,
    series_name AS indicator_name,
    COUNT(series_code) AS indicator_count
FROM int_debt
GROUP BY indicator_code, indicator_name
ORDER BY indicator_count DESC, indicator_code DESC
LIMIT 20;

 * postgresql://aysegul:***@localhost:5432/aysegul
20 rows affected.

[('NY.GNP.MKTP.CD', 'GNI (current US$)', 122),
 ('FI.RES.TOTL.MO', 'Total reserves in months of imports', 122),
 ('FI.RES.TOTL.DT.ZS', 'Total reserves (% of total external debt)', 122),
 ('FI.RES.TOTL.CD', 'Total reserves (includes gold, current US$)', 122),
 ('DT.UND.PRVT.CD', 'Undisbursed external debt, private creditors (UND, current US$)', 122),
 ('DT.UND.OFFT.CD', 'Undisbursed external debt, official creditors (UND, current US$)', 122),
 ('DT.UND.DPPG.CD', 'Undisbursed external debt, total (UND, current US$)', 122),
 ('DT.TXR.DPPG.CD', 'Total amount of debt rescheduled (current US$)', 122),
 ('DT.TDS.PRVT.PS.CD', 'PS, private creditors (TDS, current US$)', 122),
 ('DT.TDS.PRVT.PRVG.CD', 'PRVG, private creditors (TDS, current US$)', 122),
 ('DT.TDS.PRVT.OPS.CD', 'OPS, private creditors (TDS, current US$)', 122),
 ('DT.TDS.PRVT.GG.CD', 'GG, private creditors (TDS, current US$)', 122),
 ('DT.TDS.PRVT.CD', 'PPG, private creditors (TDS, current US$)', 122),
 ('DT.TDS.PRVT.CB.CD', 'CB, private creditors (TDS, current US$)', 122),
 ('DT.TDS.PRPG.CD', 'Debt service on external debt, private guaranteed by public sector (PPG) (TDS, current US$)', 122),
 ('DT.TDS.PROP.PS.CD', 'PS, other private creditors (TDS, current US$)', 122),
 ('DT.TDS.PROP.PRVG.CD', 'PRVG, other private creditors (TDS, current US$)', 122),
 ('DT.TDS.PROP.OPS.CD', 'OPS, other private creditors (TDS, current US$)', 122),
 ('DT.TDS.PROP.GG.CD', 'GG, other private creditors (TDS, current US$)', 122),
 ('DT.TDS.PROP.CD', 'PPG, other private creditors (TDS, current US$)', 122)]

In [9]:
%%sql
SELECT 
    COUNT(DISTINCT country_name) AS total_distinct_countries
FROM int_debt;

 * postgresql://aysegul:***@localhost:5432/aysegul
1 rows affected.

[(122,)]

#### Total External Debt Stock in 2020

#### Total External Debt Stock

In [22]:
%%sql
SELECT SUM(debt) AS total_external_debt_stock
FROM intl_debt
WHERE series_code = 'DT.DOD.DECT.CD';

 * postgresql://aysegul:***@localhost:5432/aysegul
1 rows affected.

[(44391968813130.9,)]

#### Total External Debt Stock by Country - Top 5

In [23]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS external_debt_stock
FROM int_debt
WHERE series_code = 'DT.DOD.DECT.CD'
GROUP BY country_name
ORDER BY 2 DESC
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('China', 2349390000000.0),
 ('India', 564179000000.0),
 ('Brazil', 549234000000.0),
 ('Russian Federation', 475518000000.0),
 ('Mexico', 467512000000.0)]

#### Long-term External Debt Stock by Country - Top 5

In [24]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS longterm_debt_stock
FROM int_debt
WHERE series_code = 'DT.DOD.DLXF.CD'
GROUP BY country_name
ORDER BY 2 DESC
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('China', 1103090000000.0),
 ('Brazil', 476093000000.0),
 ('India', 454916000000.0),
 ('Mexico', 413696000000.0),
 ('Russian Federation', 409980000000.0)]

#### Short-term External Debt Stock by Country - Top 5

In [25]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS shortterm_debt_stock
FROM int_debt
WHERE series_code = 'DT.DOD.DSTC.CD'
GROUP BY country_name
ORDER BY 2 DESC
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('China', 1236230000000.0),
 ('Turkey', 138438000000.0),
 ('India', 103533000000.0),
 ('Thailand', 74813837000.0),
 ('Brazil', 68983074000.0)]

#### Outstanding Debts by Country - Top 5

In [26]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS outstanding_debts
FROM int_debt
WHERE series_code = 'DT.DOD.PVLX.CD'
GROUP BY country_name
ORDER BY 2 DESC
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('China', 390000000000.0),
 ('Mexico', 300000000000.0),
 ('Indonesia', 240000000000.0),
 ('Russian Federation', 210000000000.0),
 ('India', 180000000000.0)]

#### Short-term to External Debt Stocks (%) by Country - Top 5

In [27]:
%%sql
WITH shortterm_external_debt AS
(
    SELECT 
    country_name, 
    SUM(debt) AS shortterm_debt
FROM int_debt
WHERE series_code = 'DT.DOD.DSTC.CD'
GROUP BY country_name
ORDER BY 2 DESC
),

total_external_debt AS
(
    SELECT 
    country_name, 
    SUM(debt) AS total_debt
FROM int_debt
WHERE series_code = 'DT.DOD.DECT.CD'
GROUP BY country_name
ORDER BY 2 DESC
)

SELECT 
    s.country_name,
    shortterm_debt/total_debt AS shortterm_to_external_debt
FROM shortterm_external_debt AS s
INNER JOIN total_external_debt AS t
ON t.country_name = s.country_name
ORDER BY 2 DESC
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('China', 0.5261919051328217),
 ('Iran, Islamic Rep.', 0.3824061016731002),
 ('Jordan', 0.37046254144848734),
 ('Thailand', 0.36647042082421),
 ('Algeria', 0.3444313955347713)]

#### IMF Loans by Country - Top 10

In [28]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS IMF_loans
FROM int_debt
WHERE series_code = 'DT.DOD.DIMF.CD'
GROUP BY country_name
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://aysegul:***@localhost:5432/aysegul
10 rows affected.

[('Argentina', 48873710060.0),
 ('Egypt, Arab Rep.', 20362115178.0),
 ('Ukraine', 12824418312.0),
 ('China', 10066998409.0),
 ('Pakistan', 8902391566.0),
 ('Russian Federation', 8168919007.0),
 ('South Africa', 6966024067.0),
 ('Ecuador', 6780523250.0),
 ('Colombia', 6464390082.0),
 ('Nigeria', 5948128731.0)]

#### External debt stocks to exports (%) -  Top 5
This ratio can be used as a measure of sustainability because an increasing debt-to-exports ratio over time, for a given interest rate, implies that total debt is growing faster than the economyâ€™s basic source of external income, indicating that the country may have problems meeting its debt obligations in the future.

In [29]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS debt_stock
FROM int_debt
WHERE series_code = 'DT.DOD.DECT.EX.ZS'
GROUP BY country_name
ORDER BY 2 DESC NULLS LAST
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('Montenegro', 620.8751363),
 ('Sao Tome and Principe', 522.3364727),
 ('Panama', 503.856382),
 ('Jamaica', 486.0661748),
 ('Cabo Verde', 467.4577381)]

#### External debt stocks to Gross National Income (GNI) (%) - Top 5

In [30]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS debt_stock
FROM int_debt
WHERE series_code = 'DT.DOD.DECT.GN.ZS'
GROUP BY country_name
ORDER BY 2 DESC NULLS LAST
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('Mongolia', 279.9855277),
 ('Panama', 220.1697706),
 ('Lebanon', 212.035513),
 ('Montenegro', 200.5179948),
 ('Zambia', 159.8362825)]

#### Reserves to external debt stocks (%) - Top 5

In [32]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS reserves_to_debt_stock
FROM int_debt
WHERE series_code = 'FI.RES.TOTL.DT.ZS'
GROUP BY country_name
ORDER BY 2 DESC NULLS LAST
LIMIT 5;

 * postgresql://aysegul:***@localhost:5432/aysegul
5 rows affected.

[('Algeria', 943.9941398),
 ('Botswana', 309.30308),
 ('Timor-Leste', 283.2278333),
 ('Afghanistan', 277.2880087),
 ('Solomon Islands', 154.104512)]

In this notebook, we took a look at debt owed by countries across the globe. We extracted a few summary statistics from the data and unraveled some interesting facts and figures. 

We also validated our findings to make sure the investigations are correct.